@model Plantation
@{
    ViewData["Title"] = "CRUD Test Application";
}

<div class="text-center">
    <h1 class="display-4">Plantation #@Html.DisplayFor(model => model.Id) Delete</h1>
    <br>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Name)</label>
                @Html.TextBoxFor(model => model.Name, new{@class="form-control", @readonly="true"})
            </div>
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Description)</label>
                @Html.TextBoxFor(model => model.Description, new{@class="form-control", @readonly="true"})
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.PlantId)</label>
                @Html.TextBoxFor(model => model.PlantId, new{@class="form-control", @readonly="true"})
            </div>
        </div>
        <ul class="nav nav-fill">
            <li class="nav-item">
                <input type="button" class="wideButtons btn btn-danger" value="Back" onclick="location.href='@Url.Action("Index", "Plantation")'" />
            </li>
            <li class="nav-item">
                <input type="submit" class="wideButtons btn btn-success" value="Delete" /> 
            </li>
        </ul>
    }
</div>
